<label for="inFilename">File to load from: </label><input id="inFilename" type="text"/><button onclick="load_data()"><b>Load</b></button><br/><br/>
<textarea id="dataInput" style="width:100%; height:500px;" rows="10"></textarea><br/><br/>
<label for="outFilename">File to save to: </label><input id="outFilename" type="text"/><button onclick="save_data()">Save</button>
<p id="statusOutput"></p>

<script>
    function load_data(){
        var filename = document.getElementById("inFilename").value;
	    var theURL = `/cgi-bin/fileManager2.py?file=${filename}&action=load`;
        var filecontents = $.get(theURL)
            .done(function(data){
                //alert(data);
                dataInput.value=data;
            })
            .fail(function(){
                alert("Failed");
            });
    }
    function save_data(){
        var filename = document.getElementById("outFilename").value;
        var fileData = document.getElementById("dataInput").value;
        if (isValidDate(filename) == true && String(filename).length == 8){
            //var theURL = `/cgi-bin/fileManager2.py?file=${filename}&action=save&inputdata=${fileData}`;
            theURL = "/cgi-bin/fileManager2.py"
            //$.post(theURL);
            $.post(
                theURL,
                { file: filename, action: "save", inputdata: fileData}
            )
                .done(function(data){
                    statusOutput.value="Saved";
                });
        }
        else{
            alert("Invalid date entered as filename!");
        }
    }
    //expected input dd-mm-yyyy
    function isValidDate(s) {
        var separators = ['\\-'];
        var bits = s.split(new RegExp(separators.join('|'), 'g'));
        var d = new Date(bits[2], bits[1] - 1, bits[0]);
        var shortYear = String(d.getFullYear());
        var shortYear = shortYear.substring(2);
        //var output = d.getFullYear() == bits[2] && d.getMonth() + 1 == bits[1];
        //alert(d.getFullYear());
        //alert(shortYear);
        return shortYear == bits[2] && d.getMonth() + 1 == bits[1];
    }
</script>
