<!DOCTYPE html>
<html>
	<head>
		<title>{{{title}}}</title>
		<style>
			a { color:black; text-decoration:none; font-size:25px; }
		</style>
	</head>
	<body>
		<a href="/">Home</a><br/><br/>
		<p>
			{{{content}}}
		</p>
	</body>
</html>