<!DOCTYPE html>
<html>
	<head>
		<title>{{{title}}}</title>
		<style>
			#navbar {width: 100%;}
			#navLogo {max-width: 200px; width: 10vw; margin-right:20px;}
			#navHeading1 {display:inline}
			#mainDiv {margin-left:auto;margin-right:auto;min-width:250px;width:50vw;text-align:center;}
		</style>
	</head>
	<body>
		<div id="navbar">
			<a href="/"><img id="navLogo" src="https://alexverrico.com/assets/img/logoBlack.svg"/><h1 id="navHeading1">Lightweight Journaling System</h1></a><button style="margin-right:20px;" onclick="generate()">Re-Generate Files</button><br/>
			<a href="/edit.html">Edit</a>
		</div>
		<div id="mainDiv">
			<p>
				{{{content}}}
			</p>
		</div>
		<p>
			Copyright (C) 2020 Alex Verrico <a href="https://AlexVerrico.com">(https://AlexVerrico.com)</a>
		</p>
		<script>
			function generate(){
	    		var theURL = `/cgi-bin/fileManager2.py?action=generate`;
        		$.get(theURL)
        			// .done(function(data){
        			// 	alert(data);
        			// })
            		.fail(function(){
                		alert("Failed");
            		});
            }
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</body>
</html>
