<a href="{{{link0}}}">{{{link0text}}}</a><br/>
<a href="{{{link1}}}">{{{link1text}}}</a><br/>
<a href="{{{link2}}}">{{{link2text}}}</a><br/>
<a href="{{{link3}}}">{{{link3text}}}</a><br/>
<a href="{{{link4}}}">{{{link4text}}}</a><br/>
<a href="{{{link5}}}">{{{link5text}}}</a><br/>
<a href="{{{link6}}}">{{{link6text}}}</a><br/>
<a href="{{{link7}}}">{{{link7text}}}</a><br/>
